  .accounts_app h3 {
    line-height: 30px;
  }

  .accounts_app .logo {
    background: transparent  app-asset-url("logo-small.png") no-repeat;
    background-size: 25px 25px;
    float: right;
    height: 25px;
    width: 25px;
  }
  textarea:required:invalid, textarea:focus:invalid, input:required:invalid, input:focus:invalid {
    /* insert your own styles for invalid form input */
    box-shadow: inset 0 0 2px 0 red;
  }
  textarea:required:valid, input:required:valid, input:focus:valid {
    /* insert your own styles for valid form input */
	 box-shadow: inset 0 0 2px 0 green;
  }
  ul, li {
    list-style-type: none;
  }
  
  p.parent {
    box-shadow: inset 0 0 5px 0 green;
  }
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }